<div class="albums__main"><a [routerLink]="['/home']">Albums</a></div>

<div
  *ngFor="let album of albums$ | async; let i = index"
  class="albums-container"
>
  <div class="albums">
    <span class="albumid albumidd">{{ i + 1 }}</span>
    <a
      class="albums"
      [title]="album.title + ' details'"
      [routerLink]="['/albums', album.id]"
    >
      {{ album.title }}
    </a>
    <button id="delete" type="button" (click)="delete(album)" class="deletebtn">
      Delete
    </button>
  </div>
</div>
